* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
}

.slider {
  position: relative;
  width: 600px;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #222;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  height: 85%;
}

.slide {
  min-width: 100%;
}
.slider_image_container {
  background: url(src/img/photo_2024-08-03_13-34-24.jpg) center center/contain
    no-repeat;
  max-width: 100%;
  height: 100%;
}
.slider_2 {
  background-image: url(src/img/photo_2024-08-04_17-58-00.jpg);
}
.slider_3 {
  background-image: url(src/img/photo_2024-08-04_17-59-55.jpg);
}
.captions {
  position: absolute;
  bottom: 5px;
  left: 0;
  text-align: center;
}

.caption {
  display: none;
}

input[type='radio'] {
  display: none;
}

/* Отображение правильного слайда */
#slide1:checked ~ .slides {
  transform: translateX(0);
}

#slide2:checked ~ .slides {
  transform: translateX(-100%);
}

#slide3:checked ~ .slides {
  transform: translateX(-200%);
}

/* Отображение правильной подписи */
#slide1:checked ~ .captions #caption1 {
  display: block;
}

#slide2:checked ~ .captions #caption2 {
  display: block;
}

#slide3:checked ~ .captions #caption3 {
  display: block;
}

.caption p {
  color: #fff;
  font-size: 18px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Навигационные точки */
.navigation {
  position: absolute;
  bottom: 20px;
  right: 0;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.nav-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #888;
  border-radius: 50%;
  cursor: pointer;
}

input[type='radio']:checked + .nav-dot {
  background-color: #fff;
}
